<%- include('../partials/header') %>

<main class='main' id='main'>
    <h2 class="home-title">Medical Jobs Home Page</h2>
    <p class="home-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate non consectetur
        doloremque aliquam laboriosam saepe assumenda facere. Pariatur nesciunt, dolor architecto maiores in nulla
        maxime expedita. Et obcaecati quaerat totam temporibus reiciendis itaque sed rem iusto, in fuga dolorem!
        Nemo alias sint eligendi modi id fugit laborum aliquam ratione libero harum eos ad repellat eveniet
        perspiciatis, exercitationem nostrum voluptatem cumque nihil nobis nisi! Cumque iste ipsam vero labore,
        distinctio facere cupiditate tenetur voluptate maiores earum quis modi error. Dolore quaerat quia
        exercitationem quam nihil aliquam sapiente deleniti, porro reiciendis perspiciatis, maiores sed sit
        similique vitae veniam, a delectus ratione voluptate fugit impedit eaque qui in itaque! Cum doloremque minus
        voluptatibus aspernatur debitis error voluptatum eius aliquid laudantium distinctio, accusamus porro,
        inventore mollitia nobis aut eos provident quod fuga explicabo similique. Non unde nobis minus nostrum ut
        fugit optio illum pariatur quis, minima saepe sed cum est, eum fugiat? Ipsa, porro harum enim corporis,
        reprehenderit, quidem distinctio unde suscipit voluptatem necessitatibus itaque alias explicabo facilis
        consequuntur eius eligendi ipsum tempora ut repudiandae qui exercitationem deserunt. Pariatur nemo
        blanditiis tempore ratione excepturi saepe aut eius perspiciatis praesentium eaque porro maxime molestiae
        aliquid qui, corrupti cupiditate officiis. Eum enim culpa tempora voluptas asperiores.</p>
</main>

    <%- include('../partials/footer') %>