<%- include('../partials/header') %>

<main class="main" id="main">
    <section class="section single-job-section">
        <p class="long-name">The long name for <%= data.short_name %> is <%= data.long_name %></p>
    </section>
</main>

<%- include('../partials/footer') %> 